:root{
    --primary-green: #4CAF50; 
    --dark-green: #388E3C;
    --light-green: #C8E6C9;
    --accent: #03A9F4;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider: rgba(182, 182, 182, 0.4);
    --margin: 5%;
}

body, html{
    border-top: 10px solid var(--dark-green);
    color: var(--primary-text);
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a{
    color: var(--primary-green);
}


/* HEADER */
header{
    text-align: center;
    margin: 0 auto;
}

#title{
    background-color: var(--primary-green);
    color: white;
    padding: var(--margin) 0 var(--margin) 0;
    box-shadow: 0 4px var(--divider);
}

header img{
    margin-top: 10px;
    width: 150px;
    height: auto;
}

/* MAIN */
main{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

form{
    margin: var(--margin);
}
form > *{
    margin: 10px 0 10px 0;
}

input{
    padding: 5px 150px 5px 5px;
}
select{
    padding: 5px 240px 5px 15px;
}

input[type="submit"]{
    padding: 10px 150px 10px 140px;
    background-color: var(--accent);
    color: white;
    border:none;
}

hr{
    color: var(--divider);

}

/* LOGIN */
#login_container{
    border:1px solid var(--secondary-text);
    margin: var(--margin);
    background-color: var(--divider);
    padding: auto var(--margin);
}

/* LOGOUT LINK */
#logout{
    padding: 10px 150px 10px 140px;
    margin: var(--margin) 0;
    background-color: var(--accent);
    border:none;
}
#logout a{
    color: white;
}


/* FOOTER */
footer{
    text-align: center;
    color: white;
    border-bottom: 10px solid var(--dark-green);
    background-color: var(--primary-green);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: calc(var(--margin) / 2) 0 calc(var(--margin) / 2) 0;
}