{% include 'components/head.html' %}
            <main>
                <h2>List of forms</h2>
                {% for form in forms %}
                    <hr>
                    <h3>User Name</h3>
                    <p>{{ form['user_name'] }}</p>
                    <h3>Dealer Name</h3>
                    <p>{{ form['dealer_name'] }}</p>
                    <h3>Rating</h3>
                    <p>{{ form['rating'] }} / 10</p>
                    <h3>Comments</h3>
                    <p>{{ form['comments'] }}</p>
                {% endfor %}
                <br>
                <div id="logout">
                    <a href="/logout">Logout</a>
                </div>
            </main>
{% include 'components/footer.html' %}