<!DOCTYPE html>
<html>
    <head lang="en">
        <link rel="stylesheet" href="/static/style.css" />
        <title>TTBB — Satisfaction Form</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="main">
            <header>
                <div id="title">
                    <h1>Satisfaction Form</h1>
                </div>
                <a href="#"><img src="/static/img/logo.png" alt="TTBB logo" /></a>
            </header>
            <main>
                <h2>List of forms</h2>
                {% for form in forms %}
                    <hr>
                    <h3>User Name</h3>
                    <p>{{ form['user_name'] }}</p>
                    <h3>Dealer Name</h3>
                    <p>{{ form['dealer_name'] }}</p>
                    <h3>Rating</h3>
                    <p>{{ form['rating'] }} / 10</p>
                    <h3>Comments</h3>
                    <p>{{ form['comments'] }}</p>
                {% endfor %}
                <br>
                <div id="logout">
                    <a href="/logout">Logout</a>
                </div>
            </main>
            <footer>
                <p>© 2022 — TTBB </p>
            </footer>
        </div>
    </body>
</html>