{% include 'components/head.html' %}
            <main>
                {% if session['logged_in'] %}

                    <h3>You are already logged in!</h3>
                    <p>Go <a href=/forms">here</a> to see the form submissions.</p>

                {% else %}
                    <div id="login_container">
                        <h3>Login </h3>
                        <form action="/login" method="POST">
                            <input type="username" name="username" placeholder="Username"><br>
                            <input type="password" name="password" placeholder="Password"><br>
                            <input type="submit" value="Log in">
                        </form>
                    </div>
                {% endif %}
                {% if message %}
                    <script>
                        window.alert("{{ message }}");
                    </script>
                {% endif %}
            </main>
{% include 'components/footer.html' %}