<!DOCTYPE html>
<html>
    <head lang="en">
        <link rel="stylesheet" href="/static/style.css" />
        <title>TTBB — Satisfaction Form</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="main">
            <header>
                <div id="title">
                    <h1>Satisfaction Form</h1>
                </div>
                <a href="#"><img src="/static/img/logo.png" alt="TTBB logo" /></a>
            </header>
            <main>
                {% if session['logged_in'] %}

                    <h3>You are already logged in!</h3>
                    <p>Go <a href=/forms">here</a> to see the form submissions.</p>

                {% else %}
                    <div id="login_container">
                        <h3>Login </h3>
                        <form action="/login" method="POST">
                            <input type="username" name="username" placeholder="Username"><br>
                            <input type="password" name="password" placeholder="Password"><br>
                            <input type="submit" value="Log in">
                        </form>
                    </div>
                {% endif %}
            </main>

            <footer>
                <p>© 2022 — TTBB </p>
            </footer>
        </div>
        {% if message %}
        <script>
            window.alert("{{ message }}");
        </script>
        {% endif %}
    </body>
</html>