<!DOCTYPE html>
<html>
    <head lang="en">
        <link rel="stylesheet" href="/static/style.css" />
        <title>TTBB — Satisfaction Form</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="main">
            <header>
                <div id="title">
                    <h1>Satisfaction Form</h1>
                </div>
                <a href="#"><img src="/static/img/logo.png" alt="TTBB logo" /></a>
            </header>